
.App {
    text-align: center;
}

body {
    background: whitesmoke !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}

@media (max-width: 600px) {
    #header {
        font-size: 12px !important;
    }
    #cards {
        flex-direction: column !important;    
    }
}
